asyncio
GitPython
isodate
mutagen
pymongo
PyNaCl
requests
tweepy
youtube_dl
yfinance
lxml
fuzzywuzzy
python-Levenshtein
pandas
beautifulsoup4
yahoo_fin
requests_html
numpy
pytz
feedparser
youtube-search-python
pillow
googletrans==4.0.0-rc1
asyncpraw
twitchAPI
nextcord
nextcord[voice]
nextcord[speed]
python-dotenv